import * as S from "./styles";
import { {{pascalCase name}}Props } from "./{{pascalCase name}}.d"

const {{pascalCase name}} = ({ params }: {{pascalCase name}}Props) => {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  );
};

export default {{pascalCase name}};
