import { {{pascalCase name}}Props } from "../{{pascalCase name}}.d"

export const mock{{pascalCase name}}TestId = jest.fn(() => "{{pascalCase name}} TestId");

const {{pascalCase name}} = jest.fn(({ params }: {{pascalCase name}}Props) => {
  return (
    <div data-testid={mock{{pascalCase name}}TestId()}></div>
  );
});

export default {{pascalCase name}};
